In [1]:
import pandas as pd

# Load the CSV file
#df = pd.read_csv("../Project 4 files_Aamir/short_df.csv")
short_df = pd.read_csv("Trial 6_All Rows_Industry_Batching_SMOTE_Results/short_df.csv")

# Show the first few rows to understand the data
short_df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,cleaned_text
0,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,organised focused vibrant awesomedo passion cu...
1,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,company esri environmental system research ins...
2,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,job title itemization review managerlocation f...
3,7,Head of Content (m/f),"DE, BE, Berlin",ANDROIDPIT,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0,responsibility manage englishspeaking editoria...
4,9,HP BSM SME,"US, FL, Pensacola",NaN,NaN,Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,NaN,0,1,1,Full-time,Associate,NaN,Information Technology and Services,NaN,0,implementationconfigurationtestingtraining onh...

In [2]:
short_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12977 entries, 0 to 12976
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               12977 non-null  int64
 1   title                12977 non-null  object
 2   location             12879 non-null  object
 3   department           4701 non-null   object
 4   salary_range         2735 non-null   object
 5   company_profile      10858 non-null  object
 6   description          12977 non-null  object
 7   requirements         11659 non-null  object
 8   benefits             8508 non-null   object
 9   telecommuting        12977 non-null  int64
 10  has_company_logo     12977 non-null  int64
 11  has_questions        12977 non-null  int64
 12  employment_type      12686 non-null  object
 13  required_experience  10190 non-null  object
 14  required_education   9235 non-null   object
 15  industry             12977 non-null  object
 16  function             10492 non-null  object
 17  fraudulent           12977 non-null  int64
 18  cleaned_text         12976 non-null  object
dtypes: int64(5), object(14)
memory usage: 1.9+ MB

In [3]:
location_counts = short_df["location"].value_counts(dropna=False)
print(location_counts)

location
GB, LND, London          583
US, NY, New York         505
US, CA, San Francisco    353
GR, I, Athens            313
US, ,                    230
                        ...
CN, 31,                    1
US, AR, Fayetteville       1
GB, LND, Old Street        1
MU, PW, Ebene              1
GB, WSX, Chichester        1
Name: count, Length: 2460, dtype: int64

In [4]:
import pandas as pd

# Extract the different components from the location column
short_df[['country_code', 'state', 'city']] = short_df['location'].str.split(",", n=2, expand=True)

# Strip leading and trailing spaces
short_df['country_code'] = short_df['country_code'].str.strip()
short_df['state'] = short_df['state'].str.strip()
short_df['city'] = short_df['city'].str.strip()

# Replace common country codes with full names
country_replacements = {
    'AE': 'United Arab Emirates', 'AM': 'Armenia', 'AR': 'Argentina', 'AT': 'Austria', 'AU': 'Australia', 'BD': 'Bangladesh',
    'BE': 'Belgium', 'BG': 'Bulgaria', 'BR': 'Brazil', 'BY': 'Belarus', 'CA': 'Canada', 'CH': 'Switzerland', 'CM': 'Cameroon',
    'CN': 'China', 'CY': 'Cyprus', 'CZ': 'Czech Republic', 'DE': 'Germany', 'DK': 'Denmark', 'EE': 'Estonia', 'EG': 'Egypt',
    'ES': 'Spain', 'FI': 'Finland', 'FR': 'France', 'GB': 'Great Britain', 'GH': 'Ghana', 'GR': 'Greece', 'HK': 'Hong Kong',
    'HU': 'Hungary', 'ID': 'Indonesia', 'IE': 'Ireland', 'IL': 'Israel', 'IN': 'India', 'IQ': 'Iraq', 'IS': 'Iceland',
    'IT': 'Italy', 'JM': 'Jamaica', 'JP': 'Japan', 'KE': 'Kenya', 'KH': 'Cambodia', 'KR': 'Korea', 'KW': 'Kuwait',
    'KZ': 'Kazakhstan', 'LK': 'Sri Lanka', 'LT': 'Lithuania', 'LU': 'Luxembourg', 'LV': 'Latvia', 'MA': 'Morocco', 'MT': 'Malta', 
    'MU': 'Mauritius', 'MX': 'Mexico', 'MY': 'Malaysia', 'NG': 'Nigeria', 'NI': 'Nicaragua', 'NL': 'Netherlands','NO': 'Norway', 
    'NZ': 'New Zealand', 'PA': 'Panama', 'PH': 'Philippines', 'PK': 'Pakistan', 'PL': 'Poland', 'PT': 'Portugal','QA': 'Qatar', 
    'RO': 'Romania', 'RS': 'Serbia', 'RU': 'Russia', 'SA': 'Saudi Arabia', 'SE': 'Sweden', 'SG': 'Singapore','SI': 'Slovenia', 
    'SK': 'Slovakia', 'SV': 'El Salvador', 'TH': 'Thailand', 'TN': 'Tunisia', 'TR': 'Turkey', 'TT': 'Trinidad & Tobago','TW': 'Taiwan', 
    'UA': 'Ukraine', 'UG': 'Uganda', 'US': 'United States', 'VI': 'US Virgin Islands', 'VN': 'Vietnam', 'ZA': 'South Africa', 'ZM': 'Zambia'

}
short_df['country'] = short_df['country_code'].replace(country_replacements)

# Replace empty or missing country names
short_df['country'].replace({'': 'Unknown', None: 'Unknown'}, inplace=True)

# Drop any fully empty rows
short_df.dropna(subset=['country'], inplace=True)

print(short_df[['location', 'country', 'state', 'city']].head(10))

              location        country state         city
0       NZ, , Auckland    New Zealand           Auckland
1   US, DC, Washington  United States    DC   Washington
2   US, FL, Fort Worth  United States    FL   Fort Worth
3       DE, BE, Berlin        Germany    BE       Berlin
4    US, FL, Pensacola  United States    FL    Pensacola
5      US, AZ, Phoenix  United States    AZ      Phoenix
6  US, NJ, Jersey City  United States    NJ  Jersey City
7     US, CT, Stamford  United States    CT     Stamford
8      US, FL, Orlando  United States    FL      Orlando
9      AU, NSW, Sydney      Australia   NSW       Sydney

C:\Users\deysi\AppData\Local\Temp\ipykernel_2032\3892505525.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  short_df['country'].replace({'': 'Unknown', None: 'Unknown'}, inplace=True)

In [5]:
# Save the cleaned DataFrame with a new name
cleaned_short_df = short_df.copy()

# Save the cleaned DataFrame to a CSV file in the working folder
cleaned_short_df.to_csv('cleaned_short_df.csv', index=False)